[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
azure-storage-blob = "*"
mysqlclient = "*"
sqlvalidator = "*"

[dev-packages]

[requires]
python_version = "3.7"
