<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>AuditID</th>
            <th>StoreID</th>
            <th>SKU</th>
            <th>Variance</th>
        </tr>
        {% for getdata in SnapReportForm %}
        <tr>
            <td>{{getdata.auditid}}</td>
            <td>{{getdata.storeid}}</td>
            <td>{{getdata.itemid}}</td>
            <td>{{getdata.qtyonhand}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>