body {
    height: 75%;
    background-color: #ebebeb;
}

/* TopNav */
.topnav {
    background-color: #45546e;
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}
.topnav a {
    height: 70px;
    width:  90px;
}
.topnav a.i {
    background-image: url("../images/Logo Icon.svg");
}
.topnav a.active {
    background-color: #334962;
}
.topnav a:hover {
    background-color: #334962;
}
.topnav.spacer-default{
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.topnav.search{
    position: absolute;
    left: 66%;
    width: 328px;
    height: 52px;
    background-image: url("../images/Search Bar.svg")
}
.selectbar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #334962;
}
/* User Profile Image */
.selectbar-profileimage-wrapper {
    display: flex;
    width: 230px;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
}
.selectbar-profileimage {
    padding-left: 20px;
    width: 70px;
    height: 70px;
    background-image: url("../images/Profile.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.selectbar-button {
    border: none;
    cursor: pointer;
    height: 70px;
    width: 70px;
    background-image: url("../images/List Icon.svg");
    background-position: center;
    background-color: #334962;
    background-repeat: no-repeat;
}
.selectbar-button:hover {
    background-color: #042453;
}
.selectbar-dropdown {
    width: 300px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.selectbar-items {
    display: none;
    position: absolute;
    top: 80px;
    background-color: #F2F2F2;
    opacity: 0.8;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.selectbar-items a:hover{
    background-color: #E6E3E3;
}
.selectbar-items a {
    /*padding-top: 25px;*/
    width: 300px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: -10px;
    color: black;
    text-decoration: none;
    font-size: medium;
    text-align: center;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    display: block;
}
.show {display: block;}
/* TopNav */

/* SideNav */
.sidenav {
    background-color: #E4DFDA;
    display: flex;
    height: 1500px;
    width: 90px;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
}
.sidenav a {
    height: 70px;
    width:  90px;
    background-color: #DACFC5;
    background-repeat: no-repeat;
    background-position: center;
}
.sidenav a:hover {
    background-color: #CDC4BB;
}
.sidenav a.active{
    background-color: #C7BCB0;
}
.sidenav a.h{
    background-image: url("../images/Home Icon.svg");
}
.sidenav a.q{
    background-image: url("../images/Query Icon.svg");
}
.sidenav a.r{
    background-image: url("../images/Report Icon.svg");
}
.sidenav a.d {
    background-image: url("../images/Delete Audit.svg");
}
.sidenav a.e {
    background-image: url("../images/Export.svg");
}
/* SideNav */

/* Main view */
.body {
    background-color: #F2F2F2;
    display: flex;
    height: 1500px;
    flex-direction: row;
    justify-content: start;
}
.mainview {
    background-color: #F2F2F2;
    display: flex;
    height: 1500px;
    flex-direction: row;
    justify-content: flex-start;
}
.mainview.button{
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 400px;
    background-color: #334962;
    color: #F2F2F2;
    font-size: large;
    font-family: Tahoma;
    border: none;
    font-style: normal;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

/* Containers */

/* Row */
.mainview.column-1500-400 {
    height: 1500px;
    width:400px;
    display: flex;
    flex-direction: column;
}
/* Column */
.mainview.column-300-400 {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Spacers */

/* Row */
.mainview.row-spacer-1500-100 {
    height: 1500px;
    width:100px;
}
.mainview.row-spacer-100-50 {
    height: 100px;
    width:50px;
}
/* Column */
.mainview.column-spacer-45-100 {
    height: 45px;
    width:100px;
    background: none;
}
.mainview.column-spacer-100-100 {
    height: 50px;
    width:100px;
    background: none;
}
.mainview.column-spacer-500-100 {
    height: 550px;
    width:100px;
    background: none;
}

/* Spacers */

/* Table */

table {
    background-color: white;
    font-size: large;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
}
table.gun {
    height: auto;
    border-collapse: collapse;
    border: 10px solid #DACFC5;
    table-layout: fixed;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.mainview.row-t-1500-1000 {
    height: 1500px;
    width:1000px;
    display: flex;
    flex-direction: column;
    /*background-color: #CDC4BB;*/
    align-items: center;
}
.mainview.row-t-1000-1000 {
    height: 1300px;
    width:800px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
th, td {
    color: #808080;
    text-align: center;
}
th {
    border-bottom: 1px solid black;
    color: black;
}

/* Table */