{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.10/brython_stdlib.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body onload="brython()">
    <div class="titleholders">
        <div class="main-title">Audit Conductor</div>
        <div class="rows">
            <div class="sub-title">Store: 5660</div>
            <div class="sub-title">Audit Started: 10:58 AM 6/17/2021</div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class='topnav'>
            <a href="/dev/sac/">Start New Audit/Load Files</a>
            <a class='active' href="/dev/edit_counts/">Edit Counts</a>
            <a href="/dev/report/">Audit Report</a>
            <a href="/dev/export_audit">Export Audit</a>
        </div>
    </div>
    <div class='spacer'>
        <div>
            <div class="search-options">
                <form action="." method="GET" class="columnsbeginning">
                    <div class="search_titles">
                        <p class="titles">Search by SKU: </p>
                        <p class="titles">Display all variance greater than: </p>
                    </div>
    <!--================================================================-->
    <!--comment :: We will replace the folowing with forms
                  > SKU
                  > Variance
                  > Submit-->
    <!--================================================================-->
                    <ul class="inputs" class="rows">
                        <input name="AuditID" value="58286" type="hidden">
                        <li><input name="ItemID" type="number"></li>
                        <li><input name="VarianceGreater" type="number"></li>
                        <li><input type="submit"></li>
    <!--================================================================-->
    <!--end comment-->
    <!--================================================================-->
                    </ul>
                </form>
            </div>
        </div>
    <!--================================================================-->
    <!--comment :: We will replace this with a paginated list form-->
    <!--================================================================-->
        <div>
            <table class="center">
                <tr>
                    <th>SKU</th>
                    <th>Size</th>
                    <th>Description</th>
                    <th>Snap</th>
                    <th>Count</th>
                    <th>Variance</th>
                    <th>View</th>
                    <th>Accepted</th>
                </tr>
                {% for getdata in EditCountsForm %}
                <tr>
                    <td>{{getdata.itemid}}</td>
                    <td>{{getdata.sizeid}}</td>
                    <td>{{getdata.description}}</td>
                    <td>{{getdata.snapqty}}</td>
                    <td>{{getdata.currentcount}}</td>
                    <td>{{getdata.currentvariance}}</td>
                    <td><a href="/dev/edit_count/{{getdata.createdpk}}"><button>View Details</button></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <!--================================================================-->
    <!--end comment-->
    <!--================================================================-->
    </div>
</body>
</html>