<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="../scripting.js"></script>
</head>

<body>
    <div class="titleholders">
        <div class="main-title">Audit Conductor</div>
        <div class="rows">
            <div class="sub-title">Store: 5660</div>
            <div class="sub-title">Audit Started: 10:58 AM 6/17/2021</div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class='topnav'>
            <a href="index.html">Start New Audit/Load Files</a>
            <a href="process_audit.html">Process Audit</a>
            <a href="edit_counts.html">Edit Counts</a>
            <a href="report.html">Audit Report</a>
            <a class='active' href="export_audit.html">Export Audit</a>
            <a href="faq.html">FAQ/SAC Manual</a>
        </div>
    </div>
</body>