{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="../scripting.js"></script>
</head>
<body>
    <div class="titleholders">
        <div class="main-title">Audit Conductor</div>
        <div class="rows">
            <div class="sub-title">Store: 5660</div>
            <div class="sub-title">Audit Started: 10:58 AM 6/17/2021</div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class='topnav'>
            <a class='active' href="/dev/sac/">Start New Audit/Load Files</a>
            <a href="/dev/edit_counts/">Edit Counts</a>
            <a href="/dev/report/">Audit Report</a>
            <a href="/dev/export_audit/">Export Audit</a>
        </div>
    </div>
    <div class='spacer'>
        <div class='columns'>
            <div class="columns">
                <fieldset>
                    <legend>Step 2: Load Contents</legend>
                    <div class='columns'>
                        <div class='rows2'>
                            <!--Turn into forms-->
                            <button>Load From Scanner</button>
                            <button>Load RGIS/WIS Files</button>
                            <!--Turn into forms-->
                        </div>
                        <div class="rows">
                            <p>Last Loaded</p>
                            <input>
                        </div>
                        <div class='rows2'>
                            <button>Scanner Help</button>
                            <button>DC Console Help</button>
                            <button>Clear Counts</button>
                            <button>Process and Continue</button>
                        </div>
                    </div>
              </fieldset>
            </div>
        </div>
        <div class='columns'>
                <table class="gun">
                    <tr>
                        <th>Gun #</th>
                        <th>User</th>
                        <th>Count</th>
                        <th>Load Delete</th>
                        <th>Delete Scans</th>
                    </tr>
                    <tr>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                    </tr>
                    <tr>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                        <td>filler data</td>
                    </tr>
                </table>
        </div>
    </div>
</body>
</html>