{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--================================================================
    We will replace this entire form with a rendered XML
    that will be created by a python library
====================================================================-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="titleholders">
        <div class="main-title">Audit Conductor</div>
        <div class="rows">
            <div class="sub-title">Store: 5660</div>
            <div class="sub-title">Audit Started: 10:58 AM 6/17/2021</div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class='topnav'>
            <a href="/dev/sac/">Start New Audit/Load Files</a>
            <a href="/dev/edit_counts/">Edit Counts</a>
            <a class='active' href="/dev/reportbeforepolicy/">Audit Report</a>
            <a href="/dev/export_audit/">Export Audit</a>
        </div>
    </div>
    <div>
        <h1>Hat World/Lids Audit Report 5560/C01/CAR-6</h1>
        <div class="columns">
            <div>
                <h3 class="center">Store Data</h3>
                <div class='report_store_data'>
                    <div class="report_store_data_titles">
                        <ul>
                            {{ for getdata in ReportResultsForm }}
                            <li>Hey{{getdata.itemid}}</li>
                            {{ endfor }}
                            <li>Address</li>
                            <li>Street</li>
                            <li>City, State Zip</li>
                            <li>Bank Drop</li>
                            <li>Manager Responsible</li>
                            <li>Classification</li>
                            <li>Last DSM Visit</li>
                            <li>YTD Sales</li>
                            <li>YTD Budget %</li>
                            <li>YTD Comp %</li>
                            <li>Added LP Measures</li>
                            <li>POS Over/(Short)</li>
                        </ul>
                    </div>
                    <div class="rows2">
                        <ul>
                            <li>A.M.</li>
                            <li>Joshua Short</li>
                            <li>Regular</li>
                            <li>1/1/1900</li>
                            <li>$35,580</li>
                            <li>-18%</li>
                            <li>15%</li>
                            <li>EAS</li>
                            <li>$0.00</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="center">Audit Data</h3>
                <div class='report_store_data'>
                    <div class="report_store_data_titles">
                        <ul>
                            <li>Store</li>
                            <li>Address</li>
                            <li>Street</li>
                            <li>City, State Zip</li>
                            <li>Bank Drop</li>
                            <li>Manager Responsible</li>
                            <li>Classification</li>
                            <li>Last DSM Visit</li>
                            <li>YTD Sales</li>
                            <li>YTD Budget %</li>
                            <li>YTD Comp %</li>
                            <li>Added LP Measures</li>
                            <li>POS Over/(Short)</li>
                        </ul>
                    </div>
                    <div class="rows2">
                        <ul>
                            <li>A.M.</li>
                            <li>Joshua Short</li>
                            <li>Regular</li>
                            <li>1/1/1900</li>
                            <li>$35,580</li>
                            <li>-18%</li>
                            <li>15%</li>
                            <li>EAS</li>
                            <li>$0.00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>