{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Count Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="titleholders">
        <div class="main-title">Audit Conductor</div>
        <div class="rows">
            <div class="sub-title">Store: 4</div>
        </div>
    </div>
    <div class="header-wrapper">
        <div class='topnav'>
            <a href="/dev/sac/">Start New Audit/Load Files</a>
            <a href="/dev/extra_reports/">Extra Reports</a>
            <a class='active' href="/dev/edit_counts/">Edit Counts</a>
            <a href="/dev/report/">Audit Report</a>
            <a href="/dev/export_audit">Export Audit</a>
        </div>
    </div>
<table class="center">
    <tr>
        <th>SKU</th>
        <th>Size</th>
        <th>Description</th>
        <th>Snap</th>
        <th>Count</th>
        <th>Variance</th>
        <th>Accepted</th>
        <th>Accept</th>
        <th>Update</th>
    </tr>
    {% for getdata in UpdateItemForm %}
    <form action="/dev/updated_count/{{getdata.createdpk}}/{{getdata.itemid}}/" method="POST">
        {% csrf_token %}
        <tr>
            <td>{{getdata.itemid}}</td>
            <td>{{getdata.sizeid}}</td>
            <td>{{getdata.description}}</td>
            <td>{{getdata.snapqty}}</td>
            <td><input name="currentcount" type="number" value="{{getdata.currentcount}}"></td>
            <td>{{getdata.currentvariance}}</td>
            <td>{{getdata.accepted}}</td>
            <td><input checked="checked" name="accepted" type="checkbox"></td>
            <td><input type="submit"></td>
        </tr>
    </form>
    {% endfor %}
</table>
    <br>
    <div>
        <p><a href="/dev/edit_counts/">Return To Edit Counts</a></p>
        <p><a href="/dev/top50shrink/">Return To Top 50 Shrink</a></p>
        <p><a href="/dev/skusnotcounted/">Return To SKUs Not Counted</a></p>
    </div>
</body>
</html>