{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dev index page">
    <title>Dev Index</title>
    <script src= "{% static 'app.js' %}"></script>
    <link rel='stylesheet' type='text/css' href="{% static 'index.css' %}">
    <meta name="theme-color" content="#002A32">
    <meta name="theme-color" content="#002A32" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#EAB9A7" media="(prefers-color-scheme: light)">
</head>
<body>
    <div class="topnav">
        <a class="i active" href="../../../templates"></a>
        <!--<a></a>-->
        <div class="topnav spacer-default">
            <div class="topnav search"></div>
            <div class="selectbar">
                <div class="selectbar-profileimage-wrapper">
                    <div class="selectbar-profileimage"></div>
                </div>
                <script>
                     function displayOptions() {
                        document.getElementById("selectbar").classList.toggle("show");
                    }
                </script>
                <button class="selectbar-button" onclick="displayOptions()"></button>
                <div id="selectbar" class="selectbar-items">
                    <a>Profile</a>
                    <a>Settings</a>
                </div>
            </div>
            <script>
                window.addEventListener("click", function(event) {
                    if (!event.target.matches('.selectbar-button')) {
                        var dropdowns = document.getElementsByClassName("selectbar-items");
                        var i = 0;
                        for(; dropdowns.length; i++) {
                            if (dropdowns[i].classList.contains('show')) {
                                dropdowns[i].classList.remove('show');
                            }
                       }
                    }
                });
            </script>
        </div>
    </div>
    <div class="body">
        <div class="sidenav">
            <!--Start New Audit/Load Files-->
            <a id="active" class="h active" onclick="changeActive(this)"></a>
            <!--Edit Counts-->
            <a id="inactive" class="q" onclick="changeActive(this)"></a>
            <!--Audit Report-->
            <a id="inactive" class="r" onclick="changeActive(this)"></a>
            <!--Delete/Restart Audit-->
            <a id="inactive" class="d" onclick="changeActive(this)"></a>
            <!--Export Audit-->
            <a id="inactive" class="e" onclick="changeActive(this)"></a>
        </div>
        <div class="mainview">
            <div class="mainview column-spacer-1-1"></div>
            <div class="mainview column-1">
                <div class="mainview column-spacer-1-1"></div>
                <button  class="mainview button">Load From Scanner</button>
                <div class="mainview column-spacer-1-1"></div>
                <button class="mainview button">Load From Other</button>
                <div class="mainview column-spacer-5-1"></div>
                <button class="mainview button">Clear Counts</button>
            </div>
            <div class="mainview row-spacer"></div>
            <div class="mainview row-xlarge">
                <div class="mainview column-spacer-1-1"></div>
                <div class="mainview row-xlarge-t">
                    <div class="mainview column-spacer-s-3"></div>
                    <table class="gun">
                        <tr>
                            <th>Gun #</th>
                            <th>User</th>
                            <th>Count</th>
                            <th>Load Delete</th>
                            <th>Delete Scans</th>
                    </tr>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
